.checkout-header {
    padding: 1em;
    background-color: #1b1e25;
    color: white;

    .checkout__nav {
        display: flex;
        justify-content: center;
        gap: 1em;
        align-items: center;
        margin-bottom: 0.5em;
        position: relative;

        .checkout-link {
            position: absolute;
            left: 0;
        }
    }

    .checkout-link {
        color: white;
        font-size: 2em;
        background: none;
        border: none;

        svg {
            display: flex;
            align-items: center;
        }
    }

    .checkout__title {
        font-size: 1.2em;
        font-weight: 500;
        margin: 0;
    }
}

.checkout {
    &__container {
        padding: 1.5em;

        .checkout__paymenttext {
            font-size: 15px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                color: #b2b5bb;
            }
        }

        .checkout__payment-details {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-top: 2em;

            input {
                padding: 1em;
                background-color: #1b1e25;
                border: 1px solid #66696f;
                border-radius: 8px;
                font-size: 1em;
                outline: none;
                color: #9fa2a8;

                &::placeholder {
                    color: #b2b5bb;
                }

                &::-webkit-calendar-picker-indicator {
                    filter: invert(1);
                }
            }

            .checkout__date-cvv {
                display: flex;
                gap: 1rem;

                .checkout__date {
                    input {
                        padding: 1.3em;
                    }


                }

                .checkout__date,
                .checkout__cvv {
                    flex: 1;

                    input {
                        width: 100%;
                    }
                }
            }

            .checkout__pay-button {
                background-color: #54a8e5;
                color: white;
                padding: 1em;
                border: none;
                border-radius: 12px;
                font-size: 1.2em;
                text-transform: capitalize;
                margin: auto;
                cursor: pointer;
                width: 100%;


                span {
                    margin: 2em;
                }
            }
        }
    }
}

.wrapper {
    transition: all 0.5s ease-in-out;
    filter: blur(0);
}
.overlay {
    opacity: 0.5;
    filter: blur(4px);
    transform: scale(1);
}
.popup-container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    transform: translateY(100%);
}
.popup-container.show {
    right: 0;
    transform: translateX(0);
}