.checkout__card {
    margin-top: 1.5em;

    .card {
        background-color: #35aaff;
        border-radius: 20px;
        color: white;
        position: relative;
        width: 100%;

        &__logo {
            background-image: url('../pic/icons/TriangleLayer.png');
            background-repeat: no-repeat;
            background-position: right;
            padding: 1.5em 1em 3em;

            img {
                height: 40px;
            }
        }

        &__number {
            position: absolute;
            top: 1.5em;
            right: 1.5em;
            text-align: right;

            .label {
                color: #ddf1ff;
                display: block;
                font-size: 0.8em;
                opacity: 0.8;
            }

            .value {
                font-size: 1.5em;
                font-weight: 500;
            }
        }

        &__details-wrapper {
            margin: 1em -1.5em;

        }

        &__details {
            padding: 1.2em;
            display: flex;
            align-items: center;
            background-color: #007cd7;
            justify-content: space-between;
            width: 100%;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;

            .card__holder,
            .card__balance {
                display: flex;
                flex-direction: column;

                .label {
                    font-size: 12px;
                    color: #cce5f7;
                }

                .value {
                    font-size: 15px;
                    font-weight: 500;
                }

                span{
                    letter-spacing: 2px;
                }
            }
        }
    }
}